/**/**node_modules
/**/**/package-lock.json
/**/**/venv
/**/**/__pycache__
/**/**/.pytest_cache
/**/**/.gradle/
/python/assignment11/__init__.py
/**/**/README.pdf
/cpp/Procedural Programming/marker-env