# Ignore all zip and 7z archives
*.zip
*.7z

cpp/.etc/winlibs/winlibs-x86_64-posix-seh-gcc-15.1.0-mingw-w64ucrt-12.0.0-r1.zip
/**/**/**/**/student_program
/**/**/**/**/key_program
/**/**node_modules
/**/**/venv
/**/**/package-lock.json
/**/**/marker-env
/**/**/__pycache__
/**/**/__init__.py
/**/**/README.pdf
/**/**/.pytest_cache
/**/**/.gradle/
**/**/**/**/main.exe
**/**/**/**/main.dSYM
**/**/**/**/main.cpp
**/**/**/**/main
**/**/**/**/a.out
**/**/**/**/a.exe
**/**/**/**/.DS_Store
**/**/**/**/**/test
~/.nvm/nvm-exec
~/.nvm/nvm.sh
**/**/**/**/**/obj/
**/**/**/**/**/bin/
**/**/**/**/obj/
**/**/**/**/bin/
