/**/**node_modules
/**/**/package-lock.json
/**/**/venv
/**/**/__pycache__
/**/**/.pytest_cache
/**/**/.gradle/
/python/assignment11/__init__.py
/**/**/README.pdf
/cpp/Procedural Programming/marker-env
cpp/Unit-1/1.0-First-Program/exercise10-helloWorld/main.dSYM
**/**/**/**/.DS_Store
